<body>

<h2> Bienvenue à la page d'accueil du Gossip Project </h2><br/>

<div class="container-fluid">
  <div class="row border border-danger">
      <div class="col-2 border border-success">Potin titre</div>
      <div class="col-6">Auteur</div>
      <div class="col-4 border border-success">Potin contenu</div>
  </div>
</div>
<br><br><br>
